@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: clamp(0.3rem, 0.825vw + 0.15rem, 2rem);
}

body {
  font-size: 12px;
}

/* Mobile */
@media (max-width: 900px) {
  :root {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }
}

.custom-cursor-effect {
  font-size: 12px;
}

/* SLIT-SCAN EFFECT */

.slit-scan-canvas {
  width: 100vw;
  height: 100vh;
}

.slit-scan-container {
  position: absolute;
  width: 100%;
  inset: 0;
  z-index: 4005;
}
.slit-scan-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: -1; */
}
.slit-scan-text {
  width: 70%;
  margin: 0 auto;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  /* border: 2px solid red; */
  font-size: 3.2rem;
  pointer-events: none;
  cursor: text;
  z-index: 10;
  color: white;
  font-weight: 500;
  font-family: sans-serif;
  text-align: center;
  line-height: 1.4;
}

canvas {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  inset: 0;
  z-index: 9999;
}
